*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    pointer-events: none;
    user-select: none;
}

body{
    overflow: hidden;
}

.container{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color:firebrick;
}

.reflection{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    z-index: 99;
}

.reflection::before{
    position: absolute;
    z-index: inherit;
content: "";
top: -80%;
left: 4%;
height: 350%;
width: 350%;
border-radius: 50%;
border: 100px solid #ffffff16;
}

.reflection::after{
    position: absolute;
    z-index: inherit;
content: "";
top: -150%;
left: 5%;
height: 500%;
width: 500%;
border-radius: 50%;
/* mix-blend-mode: soft-light; */
border: 70px solid #ffffff16;
}

.arena-container{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #AACC99;
    border: 10px solid black;
    box-shadow: inset -4px 8px 0 0 #00000045;
    border-radius: inherit;
    height: 550px;
    width: 550px;
    padding: 20px 0 0 0;
}


.arena{
    display: grid;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(40,1fr);
    height: 90%;
    width: 90%;
    border: 3px solid black;
}

.snake:first-child{
    background-color: red;
}

.snake{
    background-color: black;
    border-radius: 4px;
    box-shadow: -1px 2px 0 0 #39393985;
    z-index: 1;
    /* grid-column-start: 4;
    grid-row-start: 2; */
}

.food{
    border-radius: 50%;
    border: 3px solid green;
    background-color: greenyellow;
    box-shadow: -1px 2px 0 0 #39393985;
}


.game-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7%;
    width: 90%;
    /* background-color: lightblue; */
    font-size: 18px;
    font-weight: 999;
}


.game-info > *{
    text-shadow: -1px 2px 0 #39393957;    
}
